/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  bblackackground: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  height: 100%;
  min-height: 100%; }

body {
  font-family: 'Avenir Next', sans-serif; }

div.section-nav {
  position: fixed;
  left: 15px;
  top: 50px; }

div.section-nav a {
  display: block;
  text-decoration: none;
  border-bottom: none;
  opacity: 0.6; }

div.section-nav a.active {
  opacity: 1; }

div.cards {
  margin-top: 50px;
  margin-bottom: 30px; }

div.title {
  text-align: center;
  padding-top: 65px; }

div.title-container img {
  width: 200px; }

div.logo {
  position: relative;
  top: 30px;
  left: 50%;
  margin-left: -45px;
  background-color: black;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  z-index: 10; }
  div.logo img {
    width: 60px;
    margin: 23px 0 0 2px; }

div.media-lab a {
  border: none;
  font-weight: 300;
  font-family: Helvetica;
  font-size: 18px; }

a.ml-logo {
  font-family: Helvetica; }

footer {
  color: white;
  width: 100%; }
  footer div {
    background-color: black;
    text-align: center;
    padding: 20px 10px; }
  footer a {
    color: white; }
  footer a.media-lab {
    font-family: Helvetica;
    border: none;
    font-weight: 300;
    font-size: 18px; }

div#mc_embed_signup {
  padding-top: 150px;
  text-align: center;
  background-color: #E0E2E1; }
  div#mc_embed_signup label {
    display: block;
    margin-bottom: 10px; }

div.clear {
  display: inline; }

div.center {
  padding: 170px 40px !important; }

input.email {
  display: inline;
  border-radius: 3px;
  border: 1px solid black;
  padding: 10px;
  width: 250px;
  outline: none !important;
  font: 16px 'Avenir Next', Helvetica, Arial, sans-serif; }

input.email:hover {
  /*    outline: none;*/ }

section.video {
  width: 100%;
  height: 100%; }

section.top {
  height: 182px;
  width: 100%;
  z-index: 10;
  background-color: #f3f4f4;
  border-bottom: 20px solid black; }

section.bottom {
  background-color: #333333;
  position: relative;
  width: 100%;
  overflow-y: scroll; }

div.vertical-section {
  width: 400px;
  height: 300px;
  background-color: #F3F4F4;
  box-shadow: 3px 3px #CCCCCB;
  padding: 20px;
  margin: 0 auto; }

div.vertical-section {
  margin-top: 25px; }

div.description {
  font-size: 24px; }

div.description p {
  text-align: right; }

b {
  font-weight: 600; }

div.card {
  position: relative;
  background-color: #E0E2E1;
  width: 100%;
  margin: 0 auto;
  height: 400px;
  max-width: 700px;
  margin-top: 35px; }
  div.card div.text {
    padding: 30px 40px; }

div.card.text {
  font-size: 20px;
  text-align: center; }

div.card img.diagram {
  display: block;
  width: 500px;
  margin: 80px auto 0 auto; }

img.portrait {
  height: 160px;
  width: auto;
  border-radius: 100px;
  margin-top: 35px; }

img.alexis {
  margin-right: 10px; }

img.kevin {
  margin-left: 10px;
  margin-right: 10px; }

#mc_embed_signup input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: 16px 'Avenir Next', Helvetica, Arial, sans-serif;
  border: 1px solid black;
  border-radius: 3px;
  padding: 11px 12px; }

#mc_embed_signup .button {
  background-color: #aaa;
  border: 0 none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  white-space: no-wrap;
  transition: 0.1s background-color ease-in;
  height: 46px;
  padding-top: 12px; }

#mc_embed_signup .button:hover {
  background-color: #009344; }

a {
  text-decoration: none;
  color: black; }

div.icons {
  position: absolute;
  top: -18px;
  left: 5px; }
  div.icons img.icon {
    display: inline;
    margin-left: 3px;
    width: 30px; }

img.fast-company {
  margin-top: 20px;
  width: 100px; }

img.boston-magazine {
  margin-top: 20px;
  width: 180px;
  margin-left: 100px; }

img.nieman {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-top: 60px; }

@media (max-width: 550px) {
  div.logo {
    display: none; }

  div.video-card {
    height: 200px; }

  div.card {
    width: 100%; }
    div.card div.text {
      padding: 30px 15px; }
    div.card img.diagram {
      margin-top: 40px;
      width: 90%; }
    div.card img.press {
      display: block;
      margin: 0 auto;
      margin-top: 35px; }
    div.card.boston-magazine {
      width: 150px; }
    div.card.nieman {
      width: 250px; }

  img.fast-company {
    margin-top: 0px !important; }

  img.portrait {
    margin: 0 auto;
    margin-top: 20px;
    width: 30%;
    height: auto; }

  div#mc_embed_signup input.button {
    margin-top: 10px;
    width: 275px; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
